@import url('https://fonts.googleapis.com/css?family=Aleo|Roboto');

body{
    background-color: #3c2f2f;
    margin: 0 px;
}
nav{
    width: 1300px;
    height: 60px;
    margin: 0 auto;
    margin-top: 15px;
    background: #be9b7b;
}
nav a {
    display: inline-block;
    background-color:#854442;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    }
a{
    text-decoration: none;
    color: #fff4e6;
}
#gallery_container {
    background-color: #4b3832;
    width: 1300px;
    height: 2400px;
    margin: 0 auto;
    color: #be9b7b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
h1 {
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 15px;
    color:#fff4e6;
    font-size: 20px;
    font-family: 'Aleo', serif;
}
div{
    color: #be9b7b;
    font-family: 'Roboto', sans-serif;
}
p{
    margin-left: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #be9b7b;
    font-family: 'Roboto', sans-serif;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    padding-block-start: 5px;
}
.row img{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2px;
    margin-top: 5px;
    padding: 0 5px;
    padding-block-start: 5px;
    max-height: 300px;   
}
.row .column{
    display: flex;
    flex-direction: column;
    max-width: 23%;
    flex: 23%;
    padding: 0 10px;
    align-items: center;
}
.row .column img{
    max-width: 100%;
    margin: 5px 0;
}
.parent{
    display: flex;
}
.parent1{
    display: flex;
    margin-left: 20px;
}
.column1 img{
    display: block;
    margin: 0 auto;
    padding: -8px;
    margin-top: 15px;
}
.column2 img{
    display: block;
    margin: 0 auto;
    padding: -8px;
    margin-top: 15px;
}
.column1_g img{
    display: block;
    margin: 0 auto;
    padding: -8px;
    margin-top: 15px;
}
.column2_g img{
    display: block;
    margin: 0 auto;
    padding: -8px;
    margin-top: 15px;
}
.column3 img{
    display: block;
    margin: 0 auto;
    padding: -8px;
    margin-top: 15px;

}
.column1{
    background: #3c2f2f;
    color:  #be9b7b;
    padding: 10px;
    width: 426px;
    height: 1100px;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 10px;
}
.column2{
    background: #3c2f2f;
    color: #be9b7b;
    padding: 10px;
    width: 426px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10px;
}
.column1_g{
    background: #3c2f2f;
    color:  #be9b7b;
    padding: 10px;
    width: 560px;
    height: 1250px;
    margin-left: 20px;
    margin-right: 80px;
    margin-top: 10px;
}
.column2_g{
    background: #3c2f2f;
    color: #be9b7b;
    padding: 10px;
    width: 560px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}
.column3{
    background: #3c2f2f;
    color: #be9b7b;
    padding: 10px;
    width: 426px;
    margin-left: 0px;
    margin-right: 70px;
    margin-top: 10px;
}
footer{
    margin-left: 10px;
    margin-top: 10px;
}