* {
    box-sizing: content-box;
}
body{
    background-color: #3c2f2f;
    margin: 0 px;
    color: #fff4e6;
}
#main_container
{  
    background-color:  	#6fcb9f;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-top: 2px;
}
.navbar{
    background:#fb421a;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
}

.nav-link,
.navbar-brand{
    color: #3c2f2f;
    cursor: pointer;
}

.nav-link:hover{
    color: #854442;
}

.navbar-brand:hover{
    color: #854442;
}

